@import "../../../styles/global-scss/variable.scss";

.navbar-wrapper {
  .navbar-inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 88px;

    .header-logo-wrapper {
      display: flex;
      align-items: center;
    }

    .menu-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .drawer-button {
      display: none;
      color: $gray-color-200 !important;
      font-size: 30px;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .drawer-wrapper {
      background-color: red;
    }
  }
}
