.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 60vh;
  background-color: transparent;
  color: #333;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.subText {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #7f8c8d;
}
