.getInTouchWrapper {
  margin: 0 85px;

  .getInTouchInnerWrapper {
    display: flex;
    justify-content: space-around;
    border-radius: 32px;
    padding: 32px;
    background-color: #202127;
    border: 1px solid #27282a;

    .getInTouchCard {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 32px;
      border: 1px solid #27282a;
      background-color: #1b1b1f;
      border-radius: 12px;

      .iconWrapper {
        height: 46px;
        width: 46px;
        background-color: #1b1b1f;
        border: 1px solid #27282a;
        padding: 12px;
        border-radius: 12px;
      }

      .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          font-size: 20px;
          font-weight: 600;
          background: linear-gradient(
            to bottom,
            #ffffff 0%,
            #9b9b9b 100%
          ) !important;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
        }

        .texts {
          font-size: 16px;
          color: #d4d6d8;
        }
      }
    }
  }
}
