.projectViewWrapper {
  .projectTabWrapper {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .projectCardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
