.videoCardWrapper {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

.videoIframe {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 16px;
}
