.HomeBlogWrapper {
  padding: 80px 0;

  .blogsContainer {
    .ButtonSeeMoreWrapper {
      display: flex;
      justify-content: end;
    }

    .blogsInnerContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
