@import "@/styles/global-scss/variable.scss";

.ctaWrapper {
  padding: 70px 200px;
  background-color: $content-background-color;
  border: 1px solid $gray-color-800;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./overlay.png");
  background-size: 974px 310px; // Changed this line
  background-position: center bottom;
  background-repeat: no-repeat;

  .headerWrapper {
    width: 880px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .title {
      margin: 0;
      font-size: 56px;
      font-weight: 700;
      background: $title-color;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .subTitle {
      width: 600px;
      margin: 0;
      color: $primary-text-color;
    }
  }

  .ctaActions {
    margin-top: 40px;
    display: flex;
    gap: 24px;
  }
}
