@import "@/styles/global-scss/variable.scss";

.container-wrapper {
  max-width: 1440px;
  padding: 80px;
  margin: 0 auto;

  @media (max-width: 992px) {
    padding: 46px !important;
  }

  @media (max-width: 768px) {
    padding: 36px !important;
  }

  @media (max-width: 557px) {
    padding: 40px 16px !important;
  }
}

.general-input-wrapper {
  margin-bottom: 12px;
}

.general-label {
  font-size: 18px;
  color: black;
}

.general-input {
  height: 44px;
  background-color: transparent;
  border: 1px solid $gray-color-400;
  color: $gray-color-800 !important;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    border-color: $primary-color;
    background-color: transparent;
    outline: none;
  }

  &::placeholder {
    color: $primary-text-color !important;
  }
}

.photo-input-wrapper {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 8px;
}

.photo-outer-upload-wrapper {
  display: grid;
  width: 475px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.photo-upload-wrapper {
  margin-bottom: 12px;
  position: relative;
  display: inline-block;
  width: 76px;
  height: 76px;
}

.photo-delete-icon {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
  border: none;
  z-index: 10;
  padding: 4 px;
  cursor: pointer;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid #f0f2f5;
}
