@import "@/styles/global-scss/variable.scss";

.container-wrapper {
  max-width: 1440px;
  padding: 80px;
  margin: 0 auto;

  @media (max-width: 992px) {
    padding: 46px !important;
  }

  @media (max-width: 768px) {
    padding: 36px !important;
  }

  @media (max-width: 557px) {
    padding: 40px 16px;
  }
}

.general-input-wrapper {
  margin-bottom: 12px;
}

.general-label {
  font-size: 18px;
  color: black;
}

.general-input {
  height: 44px;
  background-color: transparent;
  border: 1px solid $gray-color-400;
  color: $gray-color-800 !important;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    border-color: $primary-color;
    background-color: transparent;
    outline: none;
  }

  &::placeholder {
    color: $primary-text-color !important;
  }
}
