@import "@/styles/global-scss/variable.scss";

.container-wrapper {
  min-width: 1440px;
  margin: 0 auto;
}

.general-input-wrapper {
  margin-bottom: 12px;
}

.general-label {
  font-size: 18px;
  color: black;
}

.general-input {
  height: 44px;
  background-color: transparent;
  border: 1px solid $gray-color-800;
  color: $primary-text-color !important;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    border-color: $primary-color;
    background-color: transparent;
    outline: none;
  }

  &::placeholder {
    color: $primary-text-color !important;
  }
}
