@import "../global-scss/variable.scss";

.ant-layout-header {
  padding: 0 80px !important;

  @media (max-width: 992px) {
    padding: 0 46px !important;
  }

  @media (max-width: 768px) {
    padding: 0 36px !important;
  }

  @media (max-width: 557px) {
    padding: 0px 16px;
  }
}

.ant-menu-horizontal {
  background-color: $content-background-color !important;

  .ant-menu-title-content {
    transition: none !important;
    display: flex !important;
    align-items: end !important;
    height: 50px !important;
  }

  &.ant-menu-root {
    font-size: 16px;
    border: none;

    .ant-menu-item {
      color: $secondary-text-color;
      font-size: 16px;
      font-weight: 500;
      height: 35px !important;

      &::after {
        content: "";
        width: 0%;
        border-bottom: 4px solid $primary-color !important;
        border-radius: 20px !important;
        transition: none !important;
      }

      &:hover {
        color: $primary-color !important;
        transition: none !important;

        &::after {
          content: "";
          width: 30%;
          border-bottom: 4px solid $primary-color !important;
          border-radius: 20px !important;
        }
      }
    }

    .ant-menu-item-selected {
      transition: none !important;
      height: 35px !important;
      color: $primary-color !important;
      font-weight: 600;

      &::after {
        content: "";
        width: 30%;
        border-bottom: 4px solid $primary-color !important;
        border-radius: 20px !important;
      }
    }
  }
}

.ant-menu-submenu-horizontal {
  height: 35px !important;

  .ant-menu-submenu-title {
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    gap: 4px !important;

    color: $secondary-text-color !important;
    font-size: 16px !important;
    font-weight: 500 !important;

    svg {
      margin-bottom: 10px !important;
    }
  }

  &::after {
    content: "";
    width: 0%;
    border-bottom: 4px solid $primary-color !important;
    border-radius: 20px !important;
    transition: none !important;
  }

  &:hover {
    color: $primary-color !important;
    transition: none !important;

    &::after {
      content: "";
      width: 30%;
      border-bottom: 4px solid $primary-color !important;
      border-radius: 20px !important;
    }
  }
}

.ant-drawer-content {
  background-color: $content-background-color !important;

  .ant-menu {
    background-color: $content-background-color !important;
  }

  .ant-menu-item {
    // background-color: $content-background-color !important;
    font-size: 16px;
    font-weight: 500;
    color: $white-color !important;

    &::after {
      content: "";
      width: 0%;
      border-bottom: 4px solid $primary-color !important;
      border-radius: 20px !important;
      transition: none !important;
    }

    &:hover {
      background-color: $background-color !important;
      color: $primary-color !important;
      transition: none !important;

      &::after {
        content: "";
        width: 30%;
        border-bottom: 4px solid $primary-color !important;
        border-radius: 20px !important;
      }
    }
  }

  .ant-menu-item-selected {
    background-color: $background-color !important;
    transition: none !important;
    color: $primary-color !important;
    font-weight: 600;

    &::after {
      content: "";
      width: 30%;
      border-bottom: 4px solid $primary-color !important;
      border-radius: 20px !important;
    }
  }

  .ant-menu-submenu-title {
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: start;
    gap: 4px !important;

    color: $white-color !important;
    font-size: 16px !important;
    font-weight: 500 !important;

    svg {
      margin-top: 6px !important;
    }
  }
}
