@import "@/styles/global-scss/variable.scss";

.adminGetItem {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.adminMenuWrapper {
  height: calc(100vh - 0px);
  overflow: hidden;
  display: flex;

  .adminMenuInnerWrapper {
    // border-right: 1px solid $gray-color-700;
    width: 296px !important;
    display: flex;
    flex-direction: column;

    .deshboardTitle {
      margin-top: 40px;
      font-size: 28px;
      font-weight: 600;
      text-align: center !important;
      letter-spacing: -2px;
    }
  }
}
