.feedbackCardWrapper {
  display: flex;
  gap: 32px;
  padding: 20px;
  border-radius: 24px;
  background-color: #202127;
  margin: 0 20px;

  @media (max-width: 992px) {
    gap: 20px;
    padding: 16px;
  }

  @media (max-width: 768px) {
    gap: 16px;
    padding: 12px;
  }
  @media (max-width: 576px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    min-height: 194px;
    padding: 16px;
  }

  .feedbackImageWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 575px) {
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;
    }

    .feedbackImage {
      width: 200px;
      height: 195px;
      border-radius: 16px;

      @media (max-width: 992px) {
        width: 160px;
        height: 155px;
      }

      @media (max-width: 768px) {
        width: 130px;
        height: 130px;
      }

      @media (max-width: 576px) {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .feedbackCardName {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      background: linear-gradient(180deg, #ffffff 12.23%, #9b9b9b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;

      @media (max-width: 768px) {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .feedbackCardDesignation {
      font-size: 12px;
      text-align: center;
      color: #d4d6d8;
      height: 26px;
    }
  }

  .feedbackTextWrapper {
    display: flex;
    flex-direction: column;

    .qouteImg {
      height: 45px;
      width: 45px;

      @media (max-width: 992px) {
        height: 35px;
        width: 35px;
      }
    }

    .feedbackText {
      font-size: 20px;
      font-weight: 600;
      background: linear-gradient(180deg, #ffffff 12.23%, #9b9b9b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;

      @media (max-width: 992px) {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
