.blogDetailsWrapper {
  margin: 0 80px;

  .blogDetailsInnerWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
    .blogDetailsHeader {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .blogDetailsTitle {
        background: linear-gradient(180deg, #ffffff 12.23%, #9b9b9b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
        font-weight: 600;
      }
      .blogTypeWrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;
        margin-top: 16px;

        .blogDetailType {
          background-color: #dad4f4;
          padding: 6px 12px;
          color: #3a20a0;
          font-size: 14px;
          font-weight: 500;
          border-radius: 38px;
        }

        .blogTimestamp {
          display: flex;
          justify-content: center;
          gap: 6px;
          border-radius: 100px;

          font-size: 14px;
          font-weight: 500;
          color: #a3a6aa;
          padding: 6px 12px;
          border: 1px solid #a3a6aa;
        }
      }
    }

    .blogDetailImageWrapper {
      width: 895px;
      height: 532px;
      border-radius: 16px;
      overflow: hidden;

      .blogDetailImage {
        width: 100%;
        height: 100%;
        border-radius: 16px;
      }
    }

    .blogDetailTextWrapper {
      .blogDetailText {
        font-size: 18px;
        color: #a3a6aa;
      }
    }
  }

  .relatedBlogWraper {
    margin: 32px 0;
    padding: 20px;
    background-color: #202127;
    border: 1px solid #27282a;
    border-radius: 16px;

    .relatedBlogHeader {
      font-size: 20px;
      font-weight: 600;
      color: white;
    }

    .relatedBlogInnerWrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .relatedBlogCardWrapper {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .relatedBlogImage {
          height: 48px;
          width: 48px;
          border-radius: 8px;
          border: 1px solid #27282a;
        }

        .relatedBlogTitle {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}
