@import "@/styles/global-scss/variable.scss";

.portfolioWrapper {
  position: relative;
  width: 100%;
  border: 1px solid $gray-color-800;
  border-radius: 20px;

  .imageContainer {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;

    @media (max-width: 576px) {
      height: 250px;
      overflow: hidden;

      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;

      @media (max-width: 576px) {
        aspect-ratio: 6/9;
        height: 250px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }

  .cardWrapper {
    position: absolute;
    bottom: 20px;
    inset: auto 20px 20px 20px;
    max-width: calc(100% - 40px);

    @media (max-width: 996px) {
      inset: auto 10px 10px 10px;
      max-width: calc(100% - 20px);
    }

    @media (max-width: 576px) {
      position: static;
      width: calc(100% - 50px);

      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    background-color: $content-background-color;
    border: 1px solid $gray-color-800;
    border-radius: 16px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    .title {
      margin: 0;
      color: white;
      font-size: 28px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 576px) {
        font-size: 24px;
      }
    }

    .subTitle {
      margin: 8px 0 0 0;
      color: white;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }

    .actions {
      display: flex;
      gap: 20px;

      @media (max-width: 576px) {
        gap: 12px;
      }
    }
  }
}
