@import "@/styles/global-scss/variable.scss";

.portfolioWrapper {
  position: relative;
  width: 100%;
  border: 1px solid $gray-color-800;
  border-radius: 20px;

  .imageContainer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 20px;

    @media (max-width: 576px) {
      height: 280px;
      overflow: hidden;
    }

    .img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;

      @media (max-width: 576px) {
        aspect-ratio: 6/9;
      }
    }
  }

  .cardWrapper {
    position: absolute;
    bottom: 40px;
    width: 480px;

    @media (max-width: 1024px) {
      width: 400px;
      bottom: 30px;
    }

    @media (max-width: 768px) {
      width: 60%;
    }

    @media (max-width: 576px) {
      position: static;
      margin: 16px auto 16px;
      width: calc(100% - 85px);
    }

    background-color: $content-background-color;
    border: 1px solid $gray-color-800;
    border-radius: 16px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    &.cardLeft {
      left: 40px;

      @media (max-width: 576px) {
        left: auto;
      }
    }

    &.cardRight {
      right: 40px;

      @media (max-width: 576px) {
        right: auto;
      }
    }

    .title {
      margin: 0;
      color: white;
      font-size: 28px;
      font-weight: 600;

      @media (max-width: 576px) {
        font-size: 24px;
      }
    }

    .subTitle {
      margin: 8px 0 0 0;
      color: white;
      font-size: 16px;

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }

    .actions {
      display: flex;
      gap: 20px;

      @media (max-width: 576px) {
        gap: 12px;
      }
    }
  }
}
